{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}


{% block body %}
    {% block header %}{% endblock %}
    <div class="container col-md-6 mt-5 mb-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for item in clouth %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }} $</td>
                    <td>{{ item.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container col-md-6 mt-5 mb-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for item in clouth %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }} $</td>
                    <td>{{ item.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container col-md-6 mt-5 mb-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for item in clouth %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }} $</td>
                    <td>{{ item.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container col-md-6 mt-5 mb-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for item in clouth %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }} $</td>
                    <td>{{ item.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container col-md-6 mt-5 mb-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for item in clouth %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }} $</td>
                    <td>{{ item.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% block footer %}{% endblock %}
{% endblock %}
