{% extends 'base.html.twig' %}

{% block title %}Cloth{% endblock %}

{% block body %}
    <div class="container col-md-8">
        <h1>Cloth</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cloth.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ cloth.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cloth.Description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ cloth.Price }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_cloth_index') }}" class="btn btn-main">back to list</a>

        <a href="{{ path('app_cloth_edit', {'id': cloth.id}) }}" class="btn btn-main">edit</a>

        {{ include('cloth/_delete_form.html.twig') }}
    </div>
{% endblock %}
